/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height:100%;
}

.my-nav {
  z-index: 300;
  background-color: rgba(255,255,255, 1);
}

.my-modal {
  margin: 0 auto;
  position: absolute;
  top: 2%;
  z-index: 300;
  background-color: rgba(0,0,0,0.8);
  color: white;
  margin-top: 3%;
  padding: 1%;
  /*border-radius: 5%;*/
}

.twhite{
  color: white;
}

.tblack {
  color: black;
}

.img-sep {
  height: 150px;
  width: 100%;
}

footer {
  background-color: black;
  min-height: 15%;
}

@media screen and (max-width: 600px) {
  #prev-search {
    height: 100%;
    overflow-y: scroll;
  }

  .intro{
    background-image: url("/assets/home5.jpg");
  }

  .call {
    background-color: rgba(0,0,0,0.8);
  }

  .action-btns a{
    margin-bottom: 7px;
  }
  
  .res-img {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("/assets/home2s.jpg") no-repeat;
    width:600px;
    height: 400px;
    padding-left: 600px;
  }
}





